BASE_URL=https://api.gr4.shop/
WEB_URL=https://gr4.shop/
ADMIN_URL=https://a.gr4.shop/
GOOGLE_MAPS_API_KEY=AIzaSyAPh6pqfLxj5rOL1IIY4yB2aayrL5UrRfg
FIREBASE_API_KEY=AIzaSyCHvjKHsqNTcSHQ6FYnuogFTFqvv21-1WY
URL_PREFIX=https://ibeautyapp.page.link
ROUTING_API=https://api.openrouteservice.org/
ROUTING_KEY=5b3ce3597851110001cf624892f508d1746742a28c72af74d4e60f2b
PAYFAST_PASSPHRASE=jt7NOE43FZPn
PAYFAST_MERCHANT_ID=10000100
PAYFAST_MERCHANT_KEY=46f0cd694581a
FACEBOOK_APP_ID=919293142642874
FACEBOOK_CLIENT_TOKEN=3d2818aedccb6222ad97cdfdcc2c5e50
